{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block page %}
<div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h4 class="panel-title">Change Password</h4>
                  </div>
                  <div class="panel-body">
                    <form class="form" method="POST" action="/change_password" role="form">
                          {{ change_password_form.hidden_tag() }}
                          {{ wtf.form_errors(change_password_form) }}
                          {{ wtf.form_field(change_password_form.old_password) }}
                          {{ wtf.form_field(change_password_form.new_password) }}
                          {{ wtf.form_field(change_password_form.new_password_confirm) }}
                          {{ wtf.form_field(change_password_form.change_password_button) }}
                    </form>
                  </div>
              </div>
            </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock page %}