{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

<!-- WIP -->

{% block page %}
<div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h4 class="panel-title">Edit Dataset</h4>
                  </div>
                  <div class="panel-body">
                    {{ wtf.quick_form(form, action="/change_password", method="post", extra_classes="form-group form-group-sm") }}
                  </div>
              </div>
            </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock page %}