{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% from "bootstrap/pagination.html" import render_pagination %}

{% block page %}
<div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <form name='delete_user' method='POST' action='{{ url_for_this_page(pagination.page)}}'>
                    <div class="table-responsive">
                        <table class="table table-striped">
                           <thead>
                                <tr>
                                    {% for header_value in table_header %}
                                        <th>{{ header_value }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in table_data %}
                                    <tr>
                                        {% for value in item %}
                                            <td>
                                            {{ value }}
                                            </td>
                                        {% endfor %}
                                        <td>
                                            <button type="submit" name="submit" value="edit-{{item[0]}}" class="btn btn-warning btn-xs">Edit</button>
                                            <button type="submit" name="submit" value="delete-{{item[0]}}" class="btn btn-danger btn-xs">Delete</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {{ render_pagination(pagination, size='sm') }}
                </form>
            </div>
        <div class="col-md-1"></div>
    </div>
</div>
{% endblock page %}