{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block page %}
<div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3>Welcome to Gabriel・CMS</h3>
                <hr>
                <p>This CMS is designed for internal data entry into the Gabriel database. Please report any bugs with the bug reporter in the bottom left corner.</p>
                <p>All information contained within this CMS is proprietary.</p>
                <p>
            </div>
        <div class="col-md-1"></div>
    </div>
</div>

{% endblock page %}